
<link rel="stylesheet" href="/public/css/head.css" />


<header>
  <div class="header-wrap">
    <div class="logo-wrap" onclick="window.location='/'">
      <span>Lionel's Blog</span>
    </div>
    <nav class="nav-wrap">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/">
            <i class="iconfont icon-home"></i>
            <span>首页</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/cate">
            <i class="iconfont icon-categories"></i>
            <span>分类</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/archive">
            <i class="iconfont icon-archive"></i>
            <span>归档</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/about">
            <i class="iconfont icon-about"></i>
            <span>关于</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>