:root {
  --color-black: #212121;
  --color-purple-100: #DAE9FC;
  --color-purple-200: #9BC4F7;
  --color-purple-300: #65A5F2;
  --color-purple-400: #378AEE;
  --color-purple-500: #1473E6;
  --color-purple-600: #115FBF;
  --color-purple-700: #0E4F9F;
  --color-purple-800: #0C4284;
  --color-purple-900: #0A376E;
}