.markdown-toc {
  /* border-left: 1px solid #aaa; */
  text-align: left;
  font-size: .875rem;
  overflow-y: auto;
}

.markdown-toc a {
  color: #111;
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  transition: all .3s;
}

.markdown-toc a:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
}
.markdown-toc>ul{
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.markdown-toc ul li>:first-child {
  font-weight: bolder;
  margin-bottom: 8px;
}

.markdown-toc ul li ul li>:first-child {
  font-weight: normal;
}

.markdown-toc ul {
  list-style: none;
  margin-left: 0;
  padding-left: 20px;
}